<!doctype html>
<html>
<head>
  <title>erp</title>
  <meta charset="utf-8">
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp"/>
  <meta content="yelo" name="author"/>
  <meta name="copyright" content="Copyright (c) 2017 Sodalife."/>
  <meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport"/>
  <meta content="yes" name="apple-mobile-web-app-capable"/>
  <meta content="blank" name="apple-mobile-web-app-status-bar-style"/>
  <meta name="apple-touch-fullscreen" content="yes">
  <meta content="telephone=no" name="format-detection"/>

</head>
<body>

  <!-- 微信分享缩略图 -->
  <img src="/static/vendors/thumbnail.png" style="position: fixed; z-index: -1; opacity: 0;" />

  <main id="application-container"></main>

  <script src="/static/apps/entry/main.js"></script>

</body>
</html>
