.close {
	cursor: pointer;
  color: #ccc;
  transition: color 0.3s;
  font-size: 12px;
  opacity: 0;
}
.closeInput {
	&:hover .close {
		opacity: 1;
	}
}
.scan {
	>span {
		right: 0!important;
		padding: 6px 12px 6px 15px;
		cursor: pointer;
		i {
			color: rgba(0, 0, 0, 0.25);
		}
	}
}