.detail {
	max-width: 600px;
	h2 {
		margin-bottom: 10px;
		opacity: 0.8;
		i {
			margin-right: 5px;
		}
		button {
		  vertical-align: text-bottom;
    	margin-left: 10px;
		}
	}
	.info {
		.apply {
			font-size: 16px;
			color: #000;
			opacity: 0.8;
		}
		span {
			font-size: 14px;
			margin-right: 10px;
		}
		p {
			font-size: 16px;
			color: #000;
			opacity: 0.8;
			margin-bottom: 10px;
		}
	}
}
.form {
	padding: 20px 0 0;
	.tip {
		color: #ec5204;
    line-height: 20px;
	}
}