.input {
	width: 150px !important;
	margin-right: 20px;
	@media (max-width: 768px) {
		display: inline-block;
		margin-bottom: 10px;
	}
}
.input-wrap {
	@media (min-width: 768px) {
		margin: 20px 0;
	}
	@media (max-width: 768px) {
		margin-bottom: 20px;
	}
}
.button {
	margin-right: 20px;
}
.button-wrap {
	@media (max-width: 768px) {
		display: block;
		margin-top: 10px;
	}
}
