* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  -ms-touch-action: none;
}

body {
  padding: 0;
  margin: 0;
  border: 0;
}

@media (min-width: 768px) {
  .layout {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
  }
  .side {
    height: 100vh;
  }
  .unfold-side {
    overflow-y: auto;
  }
  .side::-webkit-scrollbar {
    display:none
  }
  .logo-wrap {
    width: 100%;
    display: block;
    padding: 60px 0;
  }
  .logo {
    width: 120px;
    margin: 0 auto;
    display: block;
    transition: all .3s ease-out;

  }
  .fold-logo-wrap {
    width: 100%;
    display: block;
    padding: 15px 0;
  }
  .fold-logo {
    width: 50px;
    display: block;
    transition: all .3s ease-out;
    margin: 0 auto;
  }
  .wrapper {
    padding: 40px 20px 20px 20px;
    background: #FCFCFC;
    overflow-y: auto;
    overflow-x: hidden;
    transition: all .3s ease-out;
    min-height: calc(100vh - 55px);
  }
}
@media (max-width: 768px) {
  .layout {
    overflow-y: auto;
    width: 100vw;
  }
  .side {
    display: none;
  }
  .wrapper {
    padding: 60px 20px 20px 20px;
    background: #FCFCFC;
    overflow-y: auto;
    overflow-x: hidden;
    transition: all .3s ease-out;
    min-height: calc(100vh - 55px);
  }
}
.loading {
  width: 120px;
  height: 120px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -60px 0 0 -60px;
}

.ant-table-thead > tr > th {
  text-align: center!important;
}
.ant-table-tbody > tr > td {
  text-align: center!important;
}


/*滚动条样式*/
.ant-table-header::-webkit-scrollbar{
    width: 6px;
    height: 6px;
    background-color: #f7f7f7;
}
.ant-table-body::-webkit-scrollbar{
    width: 6px;
    height: 6px;
    background-color: #fff;
}
/*定义滚动条的轨道，内阴影及圆角*/
.ant-table-body::-webkit-scrollbar-track{
    width: 13px;
    border-radius: 6px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.1);
    background-color: #fff;
}
/*定义滑块，内阴影及圆角*/
.ant-table-body::-webkit-scrollbar-thumb{
    width: 6px;
    height: 6px;
    border-radius: 6px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: rgb(114, 114, 114);
}
