
.button-wrap {
	@media (max-width: 768px) {
		display: block;
		margin-top: 10px;
	}
}


.input-wrap {
	@media (min-width: 768px) {
		margin-bottom: 20px;
	}
	@media (max-width: 768px) {
		margin-bottom: 20px;
	}
}
