/*
:global(.ant-upload-list-picture-card) {
	display: block !important;
}
*/
:global(div.ant-form-explain) {
	display: inline-block !important;
}
:global(div.ant-checkbox-group) {
	display: inline !important;
}
:global(div.ant-form-explain) {
	display: block !important;
}
