.view {
	.item {
		margin: 0 10px 10px 0;
	}
	.table {
		margin-top: 20px;
	}
	.group {
		display: inline-block;
		vertical-align: middle;
    margin-right: 10px;
	}
}
.alipay {
	form {
		padding: 50px 20px;
		font-size: 16px;
		.icon {
			color: #108ee9;
			margin-right: 10px;
			font-size: 18px;
		}
		button {
			margin-left: 30px;
		}
	}
}
.hidden {
	display: none;
}